<img src="../../../assets/icons/{{data?.dailyWeather?.weatherIcon}}-s.png">
<h5 class="card-title">{{data?.dailyWeather?.fetchedCityName}}</h5>
<h6 class="card-text">{{(data?.dailyWeather?.dailyTemperature) | weatherDegree : isCelsios}}</h6>
<h6>{{data?.dailyWeather?.weatherText}}</h6>
<!-- <button (click)="addToFavorite()"
    *ngIf="!isInFavorites">add to favorite</button>
<button (click)="removeFavorite()" *ngIf="isInFavorites">remove from
    favorite</button>
     -->
    <button mat-icon-button (click)="addToFavorite()" *ngIf="!isInFavorites" color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button (click)="removeFavorite()" *ngIf="isInFavorites" color="warn">
        <mat-icon>remove icon</mat-icon>
      </button>