<div *ngIf='!isDaily' class="card">
  <div class="card-body text-center" style="min-width: 183px">
    <img src="../../../assets/icons/{{currentDailyWeather?.weatherIcon}}-s.png">
    <h5 class="card-title">{{currentDailyWeather?.fetchedCityName}}</h5>
    <h6 class="card-text">{{currentDailyWeather?.dailyTemperature}} C°</h6>
    <h6>{{currentDailyWeather?.weatherText}}</h6>
    <button (click)="addToFavorite()"  *ngIf="!isInFavorites">add to favorite</button>
    <button (click)="removeFavorite()" *ngIf="isInFavorites">remove from favorite</button>
  </div>
  <!-- <button @fade *ngIf="!isInFavorites; else showRemoveFromFavorites" type="button"
  class="btn btn-info mt-5 mb-5 btn-block" (click)="AddToFavorites()">Add to favorites</button> -->
  <!-- <ng-template #showRemoveFromFavorites>
  <button @fade type="button" class="btn btn-danger mt-5 mb-5 btn-block" (click)="removeFromFavorites()">Remove
    from favorites</button></ng-template> -->
</div>

<div *ngIf='isDaily' class="card">
  <div class="card-body text-center" style="min-width: 183px">
    <img src="../../../assets/icons/{{day?.Day?.Icon}}-s.png">
    <h5 class="card-title">{{day?.Date | date: 'dd/MM/yyyy'}}</h5>
    <h6 class="card-text">{{day?.Temperature?.Minimum?.Value}}'C / {{day?.Temperature?.Maximum?.Value}}'C</h6>
  </div>
</div>