<ng-container *ngIf="data$ | async as data">
  <ng-container *ngIf="favoritesDailyWeather.length > 0; else showNoFavorites">
    <div class="favoriets">
      <div>
        <h1 class="week-label">Favorites</h1>
      </div>
      <div class="row items-center">
        <div *ngFor="let favorite of favoritesDailyWeather" class="align-items-center" style="width: 18rem;">
          <sc-card>
            <daily-weather-card [data]="data" (removeFromFavorite)="removeFavorite(favorite)"
              [isInFavorites]="isInFavorites$ | async" [isCelsios]="isCelsios$ | async"></daily-weather-card>
          </sc-card>
        </div>
      </div>
    </div>

    <!-- <div class="row items-center">
          <div *ngFor="let favorite of favoritesDailyWeather" class="card align-items-center" style="width: 18rem;">
              <sc-card>
                <daily-weather-card [data]="data" (removeFromFavorite)="removeFavorite(favorite)"
                [isInFavorites]="isInFavorites$ | async" [isCelsios]="isCelsios$ | async"></daily-weather-card>
              </sc-card>
          </div> 
      </div> -->

  </ng-container>
</ng-container>
<ng-template #showNoFavorites>
  <div class="card mx-auto mt-5">
    <div class="card-body text-align-center">
      <h4 class="card-text">You don't have any favorites cities, please add some.</h4>
    </div>
  </div>
</ng-template>