<div class="card">
  <div class="card-body text-center" style="min-width: 183px">
    <ng-content>
    </ng-content>
  </div>
</div>
<!-- 
<div *ngIf='isDaily' class="card">
  <div class="card-body text-center" style="min-width: 183px">
    <img src="../../../assets/icons/{{day?.Day?.Icon}}-s.png">
    <h5 class="card-title">{{day?.Date | date: 'dd/MM/yyyy'}}</h5>
    <h6 class="card-text">{{day?.Temperature?.Minimum?.Value| weatherDegree : isC }} /
      {{day?.Temperature?.Maximum?.Value| weatherDegree : isC}}</h6>
  </div>
</div> -->