.five-days-label {
    text-align: center;
}


.set-width {
    width: 18rem;
}
.items-center {
    margin-left: 11%;
  }
  @media only screen and (max-width: 600px) {
    .items-center {
        margin-left: 14%;
        padding: unset;
    }
    .autocomplete-style{
        margin-right: unset !important;
    }
    .align-items-center {
        align-items: unset !important;
    }
  }



.card-style{
    height: 43%;
}

.autocomplete-style{
    margin-right: 5%;
}