<div class="card align-items-center autocomplete-style">
    <sc-autocomplete [selectedCity]="selectedCity" [filteredOptions]="filteredCities$ | async"
        (onSearch)="onSearch($event)" (onSelection)="onSelection($event)"></sc-autocomplete>
</div>


<ng-container *ngIf="data$ | async as data">
    <div *ngIf="data.dailyWeather?.weatherText && !isDailyLoading" class="card-style align-items-center">
        <div class="row">
            <div class="mx-auto">
                <h1 class="five-days-label">Today</h1>
                <sc-card @fade>
                    <daily-weather-card [data]="data"
                        (addFavorite)="addToFavorite(data.dailyWeather,data.weatherForcast)"
                        (removeFromFavorite)="removeFavorite(data?.dailyWeather)"
                        [isInFavorites]="isInFavorites$ | async" [isCelsios]="isCelsios$ | async"></daily-weather-card>
                </sc-card>
            </div>
        </div>
    </div>
    <div *ngIf="isDailyLoading" class="card align-items-center">
        <sc-loader></sc-loader>
    </div>
    <div *ngIf="!isForecastLoading">
        <h1 class="five-days-label">This Week</h1>
    </div>
    <div *ngIf="!isForecastLoading" class="row items-center">
        <div *ngFor="let day of data.weatherForcast" class="align-items-center" style="width: 18rem;">
            <sc-card @fade>
                <forecast-weather-card [day]="day" [isCelsios]="isCelsios$ | async"></forecast-weather-card>
            </sc-card>
        </div>
    </div>
    <div *ngIf="isForecastLoading" class="card align-items-center">
        <sc-loader></sc-loader>
    </div>
</ng-container>